Flask==2.2.5
Flask-Cors==3.0.10
Werkzeug==2.2.3
flask-socketio==5.3.6
numpy==2.0.2
scipy>=1.10.0
librosa==0.10.1
pydub==0.25.1
fastdtw==0.3.4
crepe==0.0.16
psycopg2-binary==2.9.10
supabase==1.0.3
Pillow==10.3.0        # ✅ explizite Version empfohlen
gunicorn==21.2.0
